* {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
    margin: 13.33%;
    display: flex;


}

li a {

    padding: 8px 24px 8px 24px;
    background: #f55318;
    text-decoration: none;
    color: #FFF;
    /* cantos arredondados */
    border-color: black;
    border-radius: 15px 50px 30px;
    width: 80.7%;

}

li a:hover {
    background: rgb(151, 90, 110);
    color: #000;
    border-color: #000;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
}

#container {
    width: 940px;
    background-color: rgb(231, 229, 229);
    justify-content: left;
}

.box {
    width: 25%;
    height: 5.20%;
    border-right: 8px solid #f6a588;
    border-top: 8px solid #f6a588;

    border-radius: 16px;
    box-shadow: #000 2px 8px 8px;
    vertical-align: top;
}

.row {
    display: table;
    width: 100%;

}

.column {
    display: table-cell;
}

div.polaroid {
    width: 25.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 1.6% 1.6% 1.6%;
    display: inline-block;
    background-color: rgb(226, 222, 222);
}

div.container {
    padding: 1.04%;
}

.titulo {

    font-size: 200%;
    width: 50%;

    margin-left: -300%;
}

.button {

    background-color: #f55318;
    border: none;
    color: white;
    padding: 8px 24px 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;

}

.input{
    width: 80%;
    height: 20px;
    background-color: #f6a588;
    border-radius: 8px;
    border: none;
    padding: 10px;
    resize: none;
}

label{
    font-size: 120%;
}